name: todoapp_rirs

services:
  postgres:
    image: postgres:16
    env_file: .env
    environment:
      POSTGRES_DB: ${PG_DB_NAME}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DB_NAME}"]
      interval: 2s
      timeout: 3s
      retries: 30
      start_period: 5s

  backend:
    build: ./backend
    env_file: .env
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CORS_ALLOW_ALL: ${CORS_ALLOW_ALL}
      FRONTEND_ORIGIN: ${FRONTEND_ORIGIN}

      PG_DB_NAME: ${PG_DB_NAME}
      PG_HOST: ${PG_HOST}
      PG_PORT: ${PG_PORT}
      PG_USER: ${PG_USER}
      PG_PASSWORD: ${PG_PASSWORD}
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    env_file: .env
    environment:
      VITE_API_BASE: ${VITE_API_BASE}
    depends_on:
      backend:
        condition: service_started
    ports:
      - "5173:5173"

volumes:
  postgres-data: